<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<title>Expense management system</title>
</head>

<style>
	input,table, th, td {
  	border: 1px solid black;
  	font-family : courier;
  	font-size   : 100%;
	}	
</style>
	
	<h1 style="font-family:courier;">Welcome!</h1>
	
<body>

	<h2 style="font-family:courier;">Enter the member name and initial budget :</h2>
	
	<form action="#" th:action="@{/home}" th:object="${member}" method="post">
		First name: <input type="text" th:field="*{name}" >
		Starting budget: <input type="text" th:field="*{budget}" >
  		<button type="submit" formaction=""> Enter data </button>
  	</form>

  	
  	<h2 style="font-family:courier;">Current member repository: </h2>

  	
	
	
<table>
    <thead>
        <tr>
         <th> Name </th>
         <th> Id </th>
         <th> Budget </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="member : ${membersrepo}">
            <td><span th:text="${member.name}"></span></td>
            <td><span th:text="${member.id}"></span></td>
            <td><span th:text="${member.budget}"></span></td>
        </tr>
    </tbody>
</table><br>
	  
	<div>
	<a href="/transactions">Start managing transactions</a>
	</div>
</body>

</html>